<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!----CSS---->
    <link th:href="@{/css/inseriscinews.css}" href="/css/inseriscinews.css" rel="stylesheet" type="text/css" />


    <!-- Bootstrap CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Home</title>
    <link th:href="@{/css/simple-sidebar.css}" href="/css/simple-sidebar.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Pannello Sede</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/sede/home}">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" >Approvazioni  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/sede/inserisci-news}">Inserisci News</a>
                    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>


        </ul>

    </div>
</nav>


<div class="col-md-6">
    <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
    </div>
</div>
<div id="container">
   <h1>Inserisci  una nuova news</h1>


    <form th:action="@{/sede/inserisci-news}" method="post" th:object="${news}" >


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Titolo</span>
                        </div>
                        <input th:name="titolo" name="titolo" id="titolo" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>



                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Inserisci il tuo messaggio...</span>
                            </div>
                            <textarea th:name="messaggio" id="messaggio" name="messaggio" class="form-control" aria-label="With textarea"></textarea>
                        </div>
                    <hr>


                        <button type="submit" class="btn btn-success">Condividi</button>


                </form>
            </div><!-- Status Upload  -->
        </div><!-- Widget Area -->
    </div>

</div>
</div>


</body>







<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>