<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link th:href="@{/css/bootstrap-italia.min.css}" href="/css/bootstrap-italia.min.css" rel="stylesheet" type="text/css" />


</head>
<body>
<div class="container" style="width: 510px; margin-left: 30%; margin-top: 200px; background-color: ghostwhite;border-radius: 10px;">
<div class="col-md-6">
    <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
    </div>
</div>


<div id="data" style="display: block;width: 500px;" >

    <div class="it-datepicker-wrapper">
        <div class="form-group">
            <input class="form-control it-date-datepicker"   th:name="data" id="date1" type="text" placeholder="inserisci la data in formato gg/mm/aaaa">
            <label for="date1">Date label</label>

            <button style="margin-top: 30px;"class="btn btn-primary" type="button" onclick="step1();">Avanti</button>
        </div>
    </div>
</div>


<div style="display: none;" id="orarioo">
    <select class="custom-select"   id="orario" th:name="orario">

    </select>
    <button style="margin-top: 10px;" type="button" class="btn btn-primary"  onclick="prenota()" >Prenota</button>
</div>

<div style="display: none" id="sedee">
    <form id="singleUploadForm">
        <div class="col-sm-5 col-xs-6 tital " >Seleziona la tua sede:</div><div class="col-sm-7">
        <select class="custom-select" id="sede" th:name="sede">

        </select>
        <button style="margin-top: 10px;" type="button" class="btn btn-primary" onclick="step2()" >Avanti</button>

    </div>






</div>




        <script th:inline="javascript">

            var html="";
            $.ajax({
                url: "/getsede",
                type: "GET",
                success:function (data){
                    $.each(data, function(index, value) {
                        html+="<option value='"+value.sede_id+"'>"+value.citta +"</option> "

                        html+="<hr>"

                        $("#sede").html(html)
                    });

                },error: function (a,b,c) {

                }
            })

        </script>





        <script type="text/javascript">
            function step1() {
                $("#data").css('display', 'none');
                $("#sedee").css('display', 'block');


            }



            function uploadSingleFile(sede_id,data) {
                let dropdown = $('#orario');
                dropdown.empty();
                dropdown.prop('selectedIndex', 0);

                const url =  "/getorario?data="+data+"&sede_id="+sede_id+""
                console.log(url);

                // Populate dropdown with list of provinces
                $.getJSON(url,function (data) {
                    $.each(data, function (key, entry) {
                        dropdown.append($('<option></option>').attr('value', entry.ora).text(entry.ora));
                    })

                });

            }

            function step2(){
                $("#sedee").css('display', 'none');
                $("#orarioo").css('display','block');
                var sede_id =$('#sede').val()
                var data = $("#date1").val()
                console.log(data)
                uploadSingleFile(sede_id,data);

            };




        </script>


        <script type="text/javascript">
            $(document).ready(function() {
                $('.it-date-datepicker').datepicker({
                    inputFormat: ["yyyy-MM-dd"],
                    outputFormat: 'yyyy-MM-dd',
                });
            });
        </script>


        <script type="text/javascript">
            function prenota() {

                var sede_id = $( "#sede option:selected" ).val();
                var data = $("#date1").val()
                var orario = $("#orario").val();
                console.log(orario);
                $.ajax({
                    url: "/home/nuova-analisi",
                    type: "POST",
                    data: {sede_id: sede_id, data: data, orario: orario}, error: function (msg) {
                        alert(msg)
                    },
                    success: function (data) {
                        window.location.href = '/returnhome';


                    }, error: function (a, b, c) {

                    }
                });
            }
        </script>

        <script type="text/javascript" th:src="@{/js/bootstrap-italia.bundle.min.js}"></script>

</body>

</html>